[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
flask-jwt-extended = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true